# Compiled and build artifacts
*.pyc
__pycache__/
*.o
*.obj
*.dll
*.so
*.exe
*.class
*.out
*.a

# Dependencies
node_modules/
venv/
.venv/
.env
.env.local
.env.*

# Build directories
dist/
build/
target/
.gradle/
bin/
obj/

# Logs and temp files
*.log
*.tmp
*.swp
*.swo

# Editors
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Coverage
coverage/
htmlcov/
.coverage

# Cache directories
.mypy_cache/
.pytest_cache/

# Visual Studio temporary files
.vs/
appsettings.Local.json

/TelegramBot.Server/obj/Debug/net10.0/TelegramBot.Server.csproj.FileListAbsolute.txt
/TelegramBot.Server/obj/Debug/net10.0/TelegramBot.Server.GeneratedMSBuildEditorConfig.editorconfig
/TelegramBot.Server/obj/Debug/net10.0/TelegramBot.Server.genruntimeconfig.cache
/TelegramBot.Server/obj/Debug/net10.0/TelegramBot.Server.MvcApplicationPartsAssemblyInfo.cache
/TelegramBot.Server/obj/Debug/net10.0/TelegramBot.Server.pdb
/TelegramBot.Server/obj/Debug/net10.0/TelegramBot.Server.sourcelink.json
/TelegramBot.Server/obj/project.nuget.cache
/TelegramBot.Worker/bin/Debug/net10.0/appsettings.json
/TelegramBot.Worker/bin/Debug/net10.0/appsettings.Local.json
/TelegramBot.Worker/bin/Debug/net10.0/TelegramBot.Core.pdb
/TelegramBot.Worker/bin/Debug/net10.0/TelegramBot.Data.pdb
/TelegramBot.Worker/bin/Debug/net10.0/TelegramBot.Worker.deps.json
/TelegramBot.Worker/bin/Debug/net10.0/TelegramBot.Worker.pdb
/TelegramBot.Worker/bin/Debug/net10.0/TelegramBot.Worker.runtimeconfig.json
/TelegramBot.Worker/obj/Debug/net10.0/Telegram.7FA302F8.Up2Date
/TelegramBot.Worker/obj/Debug/net10.0/TelegramBot.Worker.AssemblyInfo.cs
/TelegramBot.Worker/obj/Debug/net10.0/TelegramBot.Worker.AssemblyInfoInputs.cache
/TelegramBot.Worker/obj/Debug/net10.0/TelegramBot.Worker.assets.cache
/TelegramBot.Worker/obj/Debug/net10.0/TelegramBot.Worker.csproj.AssemblyReference.cache
/TelegramBot.Worker/obj/Debug/net10.0/TelegramBot.Worker.csproj.CoreCompileInputs.cache
/TelegramBot.Worker/obj/Debug/net10.0/TelegramBot.Worker.csproj.FileListAbsolute.txt
/TelegramBot.Worker/obj/Debug/net10.0/TelegramBot.Worker.GeneratedMSBuildEditorConfig.editorconfig
/TelegramBot.Worker/obj/Debug/net10.0/TelegramBot.Worker.genruntimeconfig.cache
/TelegramBot.Worker/obj/Debug/net10.0/TelegramBot.Worker.pdb
/TelegramBot.Worker/obj/Debug/net10.0/TelegramBot.Worker.sourcelink.json
/TelegramBot.Worker/obj/project.nuget.cache
